/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
        scroll-behavior: smooth;
    }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }



body {
    font-family: 'Arial', 'Arial', 'Arial', 'Arial', 'Arial';
/*    background: #58585B;*/
}
a { color: black;
    text-decoration: none !important; }
/* mouse over link */
a:hover {
  color: blue !important;
}
/* selected link */
a:active {
  color: none !important;
}

#header-wrapper {
/*  background: #e0e0e0;*/
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
#header-wrapper #header {
    width: 1090px;
    margin: 0 auto;
}
#logo {
    width: 200px;
    margin: 0 auto;
}

.graphic {
    width: 1090px;
    margin: 0 auto;
}



.clr { clear: both; }
.centered { text-align: center; }
.hidden  { 
    display: none; 
    pointer-events: none;
}

/* Text Arial/ /Arial
============================ */

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: "Arial";
    font-style: normal;
    font-weight: 500;
}

h1 { font-size: 40px; line-height: 45px; margin-bottom: 11px;}
h3 { font-size: 23px; line-height: 30px; margin-bottom: 5px; }

.main-copy {
    width: 600px;
    margin: 0 auto 40px auto;
    font-family: "Arial", "Arial";
}
.main-copy p { margin: 0 0 20px 0; line-height: 1.6rem; }
.main-copy a { 
    color: #821122; 
    text-decoration: none !important; 
    outline: 0; 
    border-bottom: 1px solid #ccc; 
}
.main-copy a:hover { 
    border-bottom: 1px solid #821122;
    color: blue !important;
}


/* Lists */
.main-copy ul, .entry ol {
      margin-left: 40px;
      margin-bottom: 1.9em;
  }
.main-copy ol { list-style-type: decimal; }
.main-copy ul { list-style-type: disc; }
.main-copy li { margin-bottom:1.2em; }



.subtitle {
    font-size: 23px;
    color: #333;
    margin-bottom: 1em;
    line-height: 29px;
    font-weight: normal;
    text-align: left;
    font-family: "Arial", "Arial";
    font-style: normal;
    font-weight: 400; 
}
.graphic h1 {
	color: #000;
	font-family: "Arial", "Arial";
    font-style: normal;
    font-weight: 500;
}
.graphic .scroll__text h3 {
/*    text-transform: uppercase;*/
	font-size: 1.5em;
	padding: 0;
    margin-bottom: 0;
	font-style: normal;
}
.graphic .subheader text {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}



/* Controls
============================ */

.graphic #update {
    width: 825px;
	margin: 12px auto 20px auto;
}
.graphic .buttons {
    float: left;
    margin-right: 50px;
}
.graphic .button {
	width: 85px;
	padding: 5px 5px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
	font-size: .9em;
	border: 1px solid #e0e0e0;
	float: left;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.graphic .button:hover {
	background: #e0e0e0;
}
.graphic .button.current {
	background: #000;
	color: #fff;
}



/* Top occupations
============================ */

.graphic #topocc {
    position: absolute;
/*	overflow: hidden;*/
}
.graphic .occlabel, .graphic .occage, .graphic .header {
    font-family: 'Arial', Arial, "Arial", Arial, "Arial";
    color: #000;
    font-size: 14px;
    line-height: 1.1em;
    overflow: visible;
    position: absolute;
    cursor: default;
}
.graphic .occlabel.smaller {
    font-size: 3px;
    color: #999;
    overflow: hidden;
}
.graphic .header {
    font-size: 1.0em; 
    font-weight: bold; 
    text-transform: uppercase; 
}
.graphic .occage { font-weight: bold; }
.graphic .header {
    border-bottom: 1px solid #000;
}
.graphic .occlabel.current, .graphic .occlabel.locked {
	border-top: 4px solid #FF6c37;
    color: #FF6c37;
    z-index: 100;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.graphic .occlabel.locked {
    border-top: 3px solid #FF6c37;
    color: #004A98;
	overflow: visible;
}
.graphic .occlabel.highlight, .graphic .occlabel.highlight-partial {
	border-top: 4px solid #004A98;
    color: #004A98;
    z-index: 101;
}
.graphic .occlabel.highlight {
    overflow: visible;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.graphic .occlabel.smaller.current, .graphic .occlabel.smaller.locked, .graphic .occlabel.highlight {
    font-weight: bold;
    font-size: 13px;
}



/* Chart
============================ */

.graphic .ranktick, .graphic .counttick {
    font-family: 'Arial', Arial, "Arial", Arial, "Arial";
    position: absolute;
    cursor: default;
    font-size: 14px;
    font-weight: bold; 
    text-align: right;
    padding-right: 10px;
}

.graphic .axis text {
    font-family: 'Arial', Arial, "Arial", Arial, "Arial";
    font-size: 1.3em;
}
.graphic text.axistitle {
    text-anchor: start;
    font-size: 1.4em;
    text-transform: uppercase;
}
.graphic .axis path,
.graphic .axis line {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.graphic .x.axis path {
  display: none;
}
.graphic .x.axis line { stroke: #333; }
.graphic .y.axis line { stroke: #e0e0e0; }
.graphic .y.axis path {
  display: none;
}
.graphic .y.axis.simple text {
	display: none;
}
.graphic .baseline line {
    stroke: #000;
    stroke-width: 3px;
}
.graphic .line {
	fill: none;
	stroke-width: 1px;
    stroke: #000;
}



/* Annotation
============================ */

.graphic #yaxislabels {
    position: relative;
    top: 0px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
}

.graphic #tooltip {
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 1.0em;
    font-family: 'Arial', 'Arial', "Arial", Arial, "Arial";
    pointer-events: none;
    z-index: 101;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.graphic #tooltip h3 { 
  font-size: 14px; margin: 0 0 4px 0; 
  line-height: 1.2em;
}

.graphic .desc, .graphic .step p {
    font-family: "Arial", "Arial";
    font-style: italic;
    font-weight: 400;
	font-size: .95em;
	line-height: 1.4em;
    margin: 0 auto;
}
.graphic .step em {
    font-style: normal;
}

.graphic line.annotation {
    stroke: #ccc;
	stroke-dasharray: 5,2;
	stroke-width: 1.2px;
}
.graphic text.annotation, .graphic #line-chart .agehighlight text {
    font-family: 'Arial', 'Arial', "Arial", Arial, "Arial";
    font-size: 14px;
    fill: #444;
    text-anchor: end;
}
.graphic text.descrip {
    font-family: "Arial", "Arial";
    font-style: italic;
    font-weight: 400;
	font-size: 13px;
	line-height: 1.4em;
}




/* Search
============================ */

#newsearch #options {
    margin-top: 1.5em;
/*    font-size: .8em;*/
/*    font-size: 1em;*/
    text-align: left;
}
#options .show-random, #options span {
    border-bottom: 1px solid #999;
    cursor: pointer;
}
#newsearch input {
    display: block;
    font-size: 1.2em;
    padding: 4px;
    font-family: 'Arial', 'Arial', "Arial", Arial, "Arial";
    margin: 10px auto 0 auto;
/*    width: 500px;*/
    width: 100%;
}
.autocomplete-suggestions {
    text-align: left; 
    cursor: default; 
    border: 1px solid #ccc; 
    border-top: 0; 
    background: #fff; 
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { 
    position: relative; 
    padding: 0 .6em; 
    line-height: 23px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }





/* Scrolling, use with scrollama.js
============================ */

    /* default / demo page */

	.graphic * {
		box-sizing: border-box;
	}

/*    html,
    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        min-height: 1280px;
        font-weight: 300;
        color: #2a2a2a;
    }*/

/*    p,
    h1,
    h2,
    h3,
    h4,
    a {
        margin: 0;
        font-weight: 300;
    }*/

/*    a,
    a:visited,
    a:hover {
        color: #f30;
        text-decoration: none;
        border-bottom: 1px solid currentColor;
    }*/

	.graphic #intro {
/*        max-width: 40rem;*/
		margin: 1rem auto 1.5rem auto;
/*        text-align: center;*/
	}
    .graphic #intro img {
        max-width: 1090px;
        margin-top: 1rem;
    }

	.graphic .intro__overline {
		font-size: 1.4rem;
	}

	.graphic .intro__hed {
		font-size: 1.4rem;
		margin: 1.5rem auto;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.05em;
	}

	.graphic .intro__dek {
		font-size: 1.4rem;
	}

	/* demo */


	/* scrollama */

	.graphic #scroll {
		position: relative;
/*        border-top: 1px solid #ccc;*/
/*        border-top: 2px dashed #000;*/
/*        border-bottom: 2px dashed #000;*/
	}

	.graphic .scroll__graphic {
		position: absolute;
		top: 0;
		right: 2rem;
		bottom: auto;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
/*        background-color: #ddd;*/
/*        border: 1px solid #000;*/
	}

	.graphic .scroll__graphic.is-fixed {
		position: fixed;
	}

	.graphic .scroll__graphic.is-bottom {
		bottom: 0;
		top: auto;
	}

	.graphic .scroll__graphic p {
		text-align: center;
		padding: 1rem;
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 8rem;
		font-weight: 900;
		color: #666;
	}

	.graphic .scroll__text {
		position: relative;
		padding: 0 1rem 0 0;
		max-width: 30rem;
/*        width: 33%;*/
        width: 320px;
	}

	.graphic .step {
		margin: 0 auto 2rem auto;
/*        border: 1px solid #333;*/
/*        padding: 20px;*/
        padding: 20px 0;
		/* border-bottom: none; */
	}

	.graphic .step:last-child {
/*        border-bottom: 1px solid #333;*/
	}

	.graphic .step.is-active {
/*        background-color: lightgoldenrodyellow;*/
	}

	.graphic .step p {
        padding: 1rem 0;
	}
    .graphic .step img {
        
    }
    .graphic .step img.occthumb {
        width: 80px;
        height: auto;
        margin-bottom: 1.5rem;
    }






/* Footer
============================ */
  #footer-wrapper {
    margin-top: 5px;
    border-top: 15px solid #7C878E;
    font-family: "Arial", "Arial", "Arial", "Arial", sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    background: #7C878E;
    text-align: center;
  }
  ul#final-links { text-align: center; margin: 7px 0 20px 0; }
  ul#final-links li {
    display: inline;
    font-family: "Arial", "Arial";
    font-style: normal;
    font-weight: 400;
    margin: 0 12px;
    font-size: 14px;
  }
  ul#final-links li a { color: #000; }
  ul#final-links li a:hover { color: #821122; border-bottom: 1px solid #821122; }
  #bottom-logo img { max-width: 96px; height: auto; }
  #bottom { margin: 20px 0; text-align: center; color: #777; font-size: 12px; line-height: 20px; }



/* button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #000000;
}